<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence" version="2.0">
    <persistence-unit name="kdp" transaction-type="RESOURCE_LOCAL">

        <class>com.itk.kdp.entity.ReconciliationStatuses</class>
        <class>com.itk.kdp.entity.VacationType</class>
        <class>com.itk.kdp.entity.Organizations</class>
        <class>com.itk.kdp.entity.Position</class>
        <class>com.itk.kdp.entity.Departments</class>
        <class>com.itk.kdp.entity.Employees</class>
        <class>com.itk.kdp.entity.VacationRequest</class>
        <class>com.itk.kdp.entity.Countries</class>
        <class>com.itk.kdp.entity.BusinessTrip</class>
        <class>com.itk.kdp.entity.Purpose</class>
        <class>com.itk.kdp.entity.Transport</class>
        <class>com.itk.kdp.entity.Addressing</class>
        <class>com.itk.kdp.entity.AddressingDetail</class>
        <class>com.itk.kdp.entity.BusinessTripFiles</class>
        <class>com.itk.kdp.entity.AccessRequest</class>
        <class>com.itk.kdp.entity.VacationFiles</class>
        <class>com.itk.kdp.entity.VacationBalance</class>
        <class>com.itk.kdp.entity.UsersFpmnt</class>
        <class>com.itk.kdp.entity.OperatorAccessRequest</class>
        <class>com.itk.kdp.entity.Idea</class>
    </persistence-unit>
</persistence>
