<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence" version="2.0">
    <persistence-unit name="kdp" transaction-type="RESOURCE_LOCAL">

        <class>com.itk.kdp.entity.Employee</class>
        <class>com.itk.kdp.entity.Company</class>
        <class>com.itk.kdp.entity.PurposeBusinessTrip</class>
        <class>com.itk.kdp.entity.City</class>
        <class>com.itk.kdp.entity.Region</class>
        <class>com.itk.kdp.entity.Country</class>
        <class>com.itk.kdp.entity.Position</class>
    </persistence-unit>
</persistence>
