<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence" version="2.0">
    <persistence-unit name="kdp" transaction-type="RESOURCE_LOCAL">

        <class>com.itk.kdp.entity.ReconciliationStatuses</class>
        <class>com.itk.kdp.entity.VacationType</class>
        <class>com.itk.kdp.entity.Organizations</class>
        <class>com.itk.kdp.entity.Position</class>
        <class>com.itk.kdp.entity.Departments</class>
        <class>com.itk.kdp.entity.Employees</class>
    </persistence-unit>
</persistence>
